.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto auto auto;
}

.loginInfo {
  width: 300px;
  flex-direction: column;
}

.input,
.input input {
  margin-bottom: 4px;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.submitInfo {
  margin-top: 4px;
}

.button {
  margin-right: 4px;
}

.forgot {
  margin-left: 36px;
}
