@import "../../Styles/";

$spacingInButtons: 4px;

@mixin border-side($property) {
  border-top: $property;
  border-left: $property;
  border-right: $property;
}

.login {
  @include flexDiv(center, center, column);
  margin: 50px auto auto auto;
}

.loginInfo {
  @include flexDiv(center, center, column);
  width: 300px;
}

.input,
.input input {
  margin-bottom: 4px;
  @include border-side(0 none);
}

.submitInfo {
  margin-top: $spacingInButtons;

  button {
    margin-right: $spacingInButtons;
  }
}

.forgot {
  margin-left: 36px;
}
