@import "../../../../Styles";

.rowData {
  margin: 8px;
}
.rowData:hover {
  cursor: $cursor;
  color: #1890ff;
}
.name {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}
.popover {
  @include flexDiv(stretch, flex-start);
}
.questionWrapper {
  @include flexDiv(stretch, flex-start, column);
  margin-right: 4px;
}
