@import "../../../Styles/";

.content {
  @include content;

  margin: 0;
}
.cardWrapper {
  background: #ececec;
  padding: 30px;
  margin: 8px;
}
.important {
  color: red;
}
.savedWrapper {
  @include flexDiv(stretch, flex-end);
  height: 21px;
}
