.content {
  padding: 0 50px;
  margin-top: 64px;
}
.content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.input {
  width: 300px;
  margin: 12px auto 12px auto;
}
.footer {
  text-align: center;
}
