@import "../../Styles/";

.content {
  padding: 0 50px;
  margin-top: 64px;
}
.mainWrapper {
  @include flexDiv(center, center, column);

  @include content;
}
.inputWrapper {
  width: 300px;
  @include flexDiv(stretch, flex-start, column);

  input {
    margin: 12px auto 12px auto;
  }
}

.buttonLinkWrapper {
  @include flexDiv(stretch, space-between);
}

.footer {
  text-align: center;
}
