.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px auto auto auto;
}
.form {
  margin: auto;
}
@media only screen and (min-width: 600px) {
  .form {
    margin: auto;
    width: 100%;
  }
}
.forgot {
  margin-left: 20px;
}
