@import "../../../../Styles";

.input {
  @include flexDiv(stretch, flex-start, column);

  width: 50%;
  margin: 8px;
}
.button {
  margin: 4px;
}
.important {
  margin-left: 10px;
}
.addOptionWrapper {
  @include flexDiv(stretch, space-between);

  margin: 2px;
}
.addQuestion {
  @include flexDiv(stretch, flex-start);

  margin-bottom: 20px;
  cursor: $cursor;
}
.addQuestion:hover {
  color: #6193ff;
}
.plus {
  font-size: $fontSize;
  margin-right: 8px;
}
